.Navbar {
  background-image: url("../misc/gold.jpg");
  background-size: cover;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  min-width: 900px;
  position: sticky;
  top: 0;
}
.langSel {
  margin: 0 0 10px 0;
}
.langSelTitle {
  margin: 1px;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
.linksItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 160px;
  font-size: 30px;
}
.logoAndSelector {
  margin-top: 5px;
  min-width: 250px;
}
.logo {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
}
