.NewCandleForm {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 300px;
  max-width: 750px;
  border: 5px black solid;
}
.candleFormContainer {
  display: flex;
}
.candleFormTitle {
  margin: 5px;
  margin-bottom: 10px;
}
.imagePreviewContainer {
  flex: 1;
  border: 5px black solid;
  margin: 0 5px 0 5px;
  max-width: 200px;
  max-height: 200px;
}
.formInputs {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.previewImage {
  max-width: 200px;
  max-height: 200px;
}
.candleNameInput {
  width: 365px;
}
.candleDesc {
  margin: 10px;
}
.candleDescInput {
  width: 450px;
  height: 80px;
}
.imageUrlInput {
  margin: 10px;
  width: 323px;
}
.submitButton {
  width: 478px;
  background: black;
  color: rgb(247, 232, 158);
}
