.UserCard {
  display: flex;
  flex-direction: column;
  border: 5px black solid;
  width: 350px;
  height: 250px;
  margin: 50px 50px 10px 50px;
}
.imageAndName {
  display: flex;
}
.numbers {
  display: flex;
  justify-content: space-evenly;
  justify-self: end;
}
.subNumbers {
  height: 20px;
}
.status {
  display: flex;
  flex-direction: column;
  height: 80px;
}
.subStatus {
  margin: 0;
}
.name {
  font-size: 25px;
  margin: 10px;
}
